@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT'),
         url('/fonts/FuturaPT-LightObl.woff2') format('woff2'),
         url('/fonts/FuturaPT-LightObl.woff') format('woff')
}

body{
    background: #110A1D;
    font-size: 10px;
    line-height: 10px;
    box-sizing: border-box;
}
.container{
    max-width: 1640px;
    padding: 0 140px;
    margin: 0 auto;
    color: white;
}

.header {
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-radius: 64px;
    border: 4px solid  #478BF9;
}

.logo{
    width: 19%;
    height: 32px;
}

.header_list {
    display: flex;
    gap: 32px;
}

.header_link {
    font-family: Lexend;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    text-decoration: none;
    color: white;
}

.header_btn {
    display: flex;
    gap: 14px;
    align-items: center;
}

.header_btn .btn:nth-child(1){
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
    padding: 14px;
    border-radius: 24px;
    border: 2px solid  #9DADF2;
    font-family: Lexend;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    text-transform: uppercase;
    color: white;
    background: transparent;
}

.btn--blue {
    background: #478BF9;
}

.burger{
    display: none;
}

.home {
    padding: 142px 140px 220px;
    position: relative;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_animation{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    z-index: -1;
    height: 1050px;
    overflow: hidden;
    display: flex;
    gap: 17px;
}

.wrap_line{
    display: flex;
    flex-direction: column;
    height: 250%;
    gap: 23px
}

.wrap_line:first-child{
    animation: column-bottom 3s linear infinite;
}

.wrap_line:nth-child(2){
    animation: column-top 10s linear infinite;
}

.wrap_line:last-child{
    animation: column-bottom 5s linear infinite;
}

.wrap_part{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 23px;
}


@keyframes column-top {
    0% {
      transform: translatey(0%);
    }
    100% {
      transform: translatey(-25%);
    }
}

@keyframes column-bottom {
    0% {
      transform: translatey(-25%);
    }
    100% {
      transform: translatey(0%);
    }
}

@keyframes row-left {
    0% {
      transform: translatex(0%);
    }
    100% {
      transform: translatex(-25%);
    }
}

@keyframes row-right {
    0% {
      transform: translatex(-25%);
    }
    100% {
      transform: translatex(0%);
    }
}


#third .wrap_part div{
    height: 220px;
    width: auto;
    position: relative;
}

#third .wrap_part div img:last-child{
    position: absolute;
    left:0;
    bottom: 0;
}
.home_main {
    max-width: 600px;
}
.home_title {
    color: #478BF9;
    font-family: Lexend;
    font-size: 9.6em;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
    margin-bottom: 24px;
}
.home_title::first-line{
    color: white;
}
.home_description {
    color: rgba(255, 255, 255, 0.60);
    font-family: Lexend;
    font-size: 3.2em;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 48px;
}
.btn72 {
    padding: 20px 72px;
    border-radius: 24px;
    border: 2px solid  #9DADF2;
    font-family: Lexend;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.home_blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.home_subtitle {
    color: white;
    font-family: Lexend;
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.scroll{
    height: 620px;
    border-radius: 100px;
    border: 3px solid  #478BF9;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    padding-right: 16px;
    overflow: hidden;
}

.blog {
    max-height: 570px;
    padding: 24px 24px 24px 24px;
    overflow-y: scroll;
}

.blog_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog_item {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap:14px;
    padding: 21px 64px;
    border-radius: 196px;
    background:  #1E1231;
}

.blog_item:hover{
    background: #478BF9;
}
.blog_article {
    font-family: Lexend;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    max-width: 340px;
}
.blog_date {
    font-family: Futura PT;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 450;
    line-height: 16px;
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hidden{
    display: none;
}

.blog::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid transparent;
    border-radius: 15px;
}

.blog::-webkit-scrollbar-track {
    border: 1px solid transparent;
    border-radius: 15px;
}

.blog::-webkit-scrollbar-thumb {
    background-color: #478BF9;
    border-radius: 5px;
}

.blog::-webkit-scrollbar-button{
    background-color: #2e2838;
    display: block;
    height: 10%;
}

.footer {
    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid #478BF9;
    border-right: 4px solid  #478BF9;
    border-left: 4px solid  #478BF9;
    background:  #1E1231;
}

.footer .wrap{
    align-items: end;
    padding: 40px 0 24px;
}
.footer_list {
    display: flex;
    gap:40px;
}
.footer_link{
    color: white;
    text-align: center;
    font-family: Lexend;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration: none;
}
.footer_link:hover {
    color:  #478BF9;
}
.social_title {
    text-align: right;
    margin-bottom: 14px;
    color: white;
    font-family: Lexend;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.social_list {
    display: flex;
    gap: 8px;
}

@media (max-width: 1440px){
    .logo{
        display: none;
    }

    .home_main {
        max-width: 450px;
    }

    .home_title{
        font-size: 7.6em;
        line-height: 76px;
    }

    .home_description{
        font-size: 2em;
        line-height: 20px;
    }

    .home_subtitle{
        font-size: 2.4em;
        line-height: 24px;
    }
    .blog_article{
        font-size: 2em;
        line-height: 24px;
    }

    .header_list {
        gap: 15px;
    }
    
    .header_link {
        font-size: 1.2em;
    }
    
    .header_btn {
        gap: 10px;
    }
    
    .btn {
        padding: 10px;
        font-size: 1.2em;
    }
    
    .footer_list {
        gap:15px;
    }
    .footer_link{
        font-size: 1.2em;
    }

    .btn72 {
        padding: 20px 50px;
    }
}

@media (max-width: 1024px){
    .home {
        padding: 80px 140px 220px;
    }

  .home_title{
    font-size: 5.6em;
    line-height: 56px;
    }

    .home_main {
        max-width: 350px;
    }
    .btn72 {
        padding: 20px 30px;
    }

.home_subtitle{
    font-size: 2em;
    line-height: 20px;
}

.blog_article{
    font-size: 2em;
    line-height: 22px;
}

.blog{
    padding: 16px;
}

.blog_item {
    padding: 18px 44px;
}
}

@media (max-width: 992px) {
    .header{
        flex-direction: row;
        padding: 10px 14px;
    }

    .container{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .logo{
        display: block;
        width: 54px;
        height: 18px;
    }

    .header_nav,
    .header_btn .btn:nth-child(1) span,
    .header_btn .btn:nth-child(2),
    .header_btn .btn:nth-child(3){
        display: none;
    }

    .nav_btn .btn:nth-child(2),
    .nav_btn .btn:nth-child(3){
        display: block;
    }

    .header_list {
       flex-direction: column;
       gap: 5px;
    }

    .header_item{
        padding: 6px 20px;
        border-radius: 64px;
        border: 2px solid #478BF9;
    }

    .header_link {
        font-size: 1.8em;
    }
    
    .nav_btn {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .nav_btn .btn {
        padding: 14px 20px;
    }

    .nav_btn .btn:first-child {
        background:  #1E1231;
    }

    .burger{
        display: block;
        padding: 4px;
        background: transparent;
        border: none;
    }

    .wrap{
        flex-direction: column;
        gap: 230px;
    }

    .home{
        padding: 70px 10px 120px;
        gap: 33px;
    }

    .home_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 570px;
    }

    .home_title, .home_description{
        text-align: center;
    }

    .home_description{
        margin-bottom: 24px;
    }

    .btn72{
        width: 100%;
        padding: 15px 20px;
        font-size: 1.8em;
    }

    .scroll{
        border-radius: 50px;
        height: 420px;
        padding-right: 6px;
    }

    
    .blog{
        padding: 10px 10px 10px 10px;
        max-height: 420px;
    }

    .blog_item{
        padding: 16px 35px;
        gap: 6px;
        border-radius: 40px;
    }

    .blog_article{
        font-size: 1.6em;
        line-height: 20px;
    }

    .home_animation{
        position: relative;
        left: 0;
        transform: translate(0, 0%);
        top: 0;
        width: 105%;
        height: auto;
        flex-direction: column-reverse;
        gap: 9px;
    }

    #third .wrap_part div{
        width: 109px;
        height: auto;
        position: relative;
    }

    #third .wrap_part div img:last-child{
        position: absolute;
        left: auto;
        right: 0;
    }

    .wrap_line{
        flex-direction: row;
        width: 150%;
        gap: 15px;
    }
    
    .wrap_line:first-child{
        animation: row-right 3s linear infinite;
    }
    
    .wrap_line:nth-child(2){
        animation: row-left 10s linear infinite;
    }
    
    .wrap_line:last-child{
        animation: row-right 5s linear infinite;
    }

    .wrap_part img{
        height: 49px;
    }
    
    .wrap_part{
        width: 50%;
        flex-direction: row;
        gap: 15px;
    }
    
    .footer .wrap{
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px 20px;
        align-items: start;
    }
    .footer_list {
        flex-direction: column;
        gap:2px;
    }
    .footer_link{
        font-size: 1.4em;
    }
    .social_title {
        text-align: left;
        margin-bottom: 8px;
        font-size: 1.4em;
    }
    .social_list{
        flex-wrap: wrap;
    }
}

@media (max-width: 425px){
    .home_title{
        font-size: 4.6em;
        line-height: 46px;
    }

    .wrap_line{
        display: flex;
        flex-direction: row;
        width: 350%;
    }
    
    .wrap_part{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
